replicaCount: 3

image:
  tag: 1.23.0
  pullPolicy: Always

service:
  type: LoadBalancer
  port: 8080

nodeSelector:
  environment: production

tolerations:
  - key: "key1"
    operator: "Equal"
    value: "value1"
    effect: "NoSchedule"
