apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-config
data:
  app-config: |
    environment: {{ .Values.nodeSelector.environment | default "development" }}
    replicaCount: {{ .Values.replicaCount }}
